html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}
#content {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1.6em;
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Viga";
  font-size: 2em;
  line-height: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: normal;
}
a {
  color: #FF0000;
  text-decoration: none;
}
