<!DOCTYPE html>
<html>

<head>
  <title>Map of DxE Chapters &mdash; Direct Action Everywhere</title>
  <!-- Meta -->
  <meta content="utf-8" http-equiv="encoding">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="Interactive map of DxE chapters from around the world.">
  <!-- Open Graph protocol -->
  <meta property="og:title" content="Map of DxE Chapters">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://chapters-map.dxetech.org/">
  <meta property="og:description" content="Interactive map of DxE chapters from around the world.">
  <meta property="og:locale" content="en_US">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga|Montserrat">
  <link rel="stylesheet" href="/static/style.css">
  <!-- Scripts -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAuTIxF21XF_nfTdH-QJQQeSXSYgDn7RE"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="/static/add_map.js"></script>
  <!-- Favicons -->
  <link rel="shortcut icon" href="/static/favicon.png">
</head>

<body>
  <!-- Map element -->
  <div id="map-canvas"></div>
</body>

</html>
