<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <link href="https://fonts.googleapis.com/css?family=Viga|Montserrat" rel="stylesheet">
  <link href="/static/style.css" rel="stylesheet">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAuTIxF21XF_nfTdH-QJQQeSXSYgDn7RE"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script src="/static/add_map.js"></script>
</head>

<body>
  <div id="map-canvas"></div>
</body>

</html>
